 /* job-apply-form.component.css */

form {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  margin-top: 45px;
}

h2{
  font-size: x-large;
  font-family: sans-serif;
  color: #007bff;
}
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="file"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

.text-danger {
  color: red;
  font-size: 0.8rem;
  margin-top: 5px;
}

button[type="submit"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}
button[type="cancel"] {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: tomato;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
button[type="cancel"]:hover {
  background-color: #d86320;
}
.footer-buttons{
  display: flex;
  justify-content: end;
  gap: 10px;
}
.checkboxes{
  display: flex;
  // justify-content: center;
  // gap: 15px;
}