.container {
    // margin-top: 50px;
    margin-bottom: 15px;
  }
  .row{
    display: flex;
    justify-content: center;
  }
  h1{
    margin-top: 15px;
  }
  .job-card {
    margin-bottom: 20px;
      border: 1px solid #ccc;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      cursor: pointer;
      transition: all 0.3s ease;
      width: 500px;
      height: 200px;
  }
  
  .job-card:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card-text {
    margin-bottom: 5px;
    margin-top: -6px;
  }
  .text-center{
    text-align: center;
  }
  .search-container {
    width: 200px; 
    height: 40px; 
    position: relative;
    display: contents;
}

.search-input {
    width: 50%;
    height: 100%;
    padding: 10px;
    border: none;
    border-radius: 20px; 
    outline: none;
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    transition: border-color 0.3s;
}
.search-input:focus {
  border: 2px solid #007bff; 
}
.card-sub-title{
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 5px;
}
.material-icons {
    font-size: 0.9rem; 
    vertical-align: middle; 
    margin-right: 5px;
  }
.no-results {
    margin-top: 20px;
    color: red;
    font-weight: bold; 
    font-size: 18px; 
}