<h1>What is an AI Led Interview:</h1>
<p>Lorem ipsum dlior sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dliore magna
    aliqua. Ut
    enim ad minim veniam, quis nostrud exercitation lilamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
    irure dlior
    in reprehenderit in vliuptate velit esse cillum dliore eu fugiat nlila pariatur. Excepteur sint occaecat cupidatat
    non proident,
    sunt in clipa qui officia deserunt mlilit anim id est laborum.</p>
<h1>Infrastructure requirement:</h1>
<li>Access to good internet connection for uninterrupted video call.</li>
<li>Microphone and camera</li>
<li>Quite space with no loud distraction</li>
<li>Good lighting so you are clearly visible (no backlighting)</li>
<li>Approved Browsers: Safari, Chrome, Firefox, Edge</li>
<!-- <button mat-button [mat-dialog-close]="'close'">Close</button> -->
<div class="close-button">
    <button mat-button (click)="close()">Close</button>
</div>